.DS_Store

_envar.sh

*.egg-info/
FAT-forensics-*
build/*
dist/*
*.pyc

*__pycache__
.pytest_cache
.coverage
.mypy_cache

.ipynb_checkpoints
#*.ipynb

doc/_build
doc/resources
doc/generated
doc/sphinx_gallery_auto
doc/tutorials/img

temp/*
.coverage.*
