[pylint]
# Errors or warning code-names to be ignored (separated with ,)
# TODO(Kacper): fix unsubscriptable-object
disable = locally-disabled,unsubscriptable-object

# 0 is auto-detect
jobs = 0

max-line-length = 79
